<form id="uploadForm" name="uploadForm">

  <div class="alert alert-danger" [style.display]="isError ? 'block' : 'none'">
    Error uploading file to server
  </div>

  <div class="mb-3">
    <label for="description">Email address</label>
    <input type="text" class="form-control" name="description" id="description" aria-describedby="Video description"
           placeholder="Enter description for video">
  </div>

  <div class="mb-3">
    <label for="videoFile">Example file input</label>
    <input type="file" class="form-control" name="file" id="videoFile">
  </div>
  <button class="btn btn-primary" (click)="submit()" type="button" >Submit</button>
</form>
